$_azul: #0d6efd;
$_rojo: #cb0000;
$_verde: #329f00;
$_negro: #1a1b15;
$_amarillo: #FFC831;

$_sub-color: #333;
$_sub-color-section: #d6d6d6;

$_white: #ffffff;
$_gris: #e1e1e1;

$_shadow-2-color: rgba(255, 255, 255, 0.1);
$_shadow-3-color: rgba(0, 0, 0, 0.2);


$_nav-primary: #353535;
$_nav-icon: #8ccee1;

/* root parameters
 =================================================================================== */
$paper: $_white;
$font: $_negro;
$bg-nav : #353535;
$font-nav : $_white;