:root {
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --breakpoint-xxl: 1440px;
  --nav-heigth: 128px;
  --nav-heigth-sm: 200px;
  --footer-heigth: 108px;
  --header-heigth: 600px;
}

$grid-columns: 12;
$grid-gutter-width: 1.5rem;

$breakpoint-xs: 0;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
$breakpoint-xxl: 1440px;


$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1440px,
  fhd:1920px,
);

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1320px
);

/* Container Class
 =================================================================================== */
html {
  .base-container {
    max-width: var(--breakpoint-xxl);
    width: 90%;
    margin: 0 auto;
  }
}