@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=PT+Sans:ital,wght@0,700;1,400;1,700&display=swap');
/* ===================================================================================
 ** Tipografia
 =================================================================================== */
/* Font Family
 =================================================================================== */
$f-family1: "PT Sans", sans-serif;
$f-family2: "Open Sans", sans-serif;

/* Font Weigth
 =================================================================================== */
$fw-1: 100;
$fw-2: 200;
$fw-3: 300;
$fw-4: 400;
$fw-5: 500;
$fw-6: 600;
$fw-7: 700;
$fw-8: 800;
$fw-9: 900;

$font-weight-lighter: 200;
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-bold: 700;
$font-weight-bolder: 900;

$font-weight-base: $font-weight-normal;

/* Font size
 =================================================================================== */
$fz-1: 2.5rem;
$fz-2: 2rem;
$fz-3: 1.75rem;
$fz-4: 1.5rem;
$fz-5: 1.25rem;
$fz-6: 1rem;

$font-size-root: null;
$font-size-base: 1rem; // Assumes the browser default, typically `16px`
$font-size-sm: $font-size-base * .875;
$font-size-lg: $font-size-base * 1.25;

$h1-font-size: $font-size-base * 2.5;
$h2-font-size: $font-size-base * 2;
$h3-font-size: $font-size-base * 1.75;
$h4-font-size: $font-size-base * 1.5;
$h5-font-size: $font-size-base * 1.25;
$h6-font-size: $font-size-base;

$line-height-base: 1.5;
$line-height-sm: 1.25;
$line-height-lg: 2;